/* CLASES REUTILIZABLES */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  font-family: 'Montserrat', sans-serif;

}

img {
  vertical-align: middle;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container:after {
  clear: both;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.m-0 {
  margin: 0px;
}

a, span{
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #E95853;
}

.text-uppercase {
  text-transform: uppercase;
}
.containerBody{
  width: 85%;
  margin: 0 auto;
}
/* -------------------------------------------UUUUUUUUU---------------------------------------- */
/* body{
 background-color: #f2f2f2;
 margin:0;
 line-height: 1.2em;
} */

/*css del header*/
.header{
 background:rgba(68, 3, 75);
 color: white;
 padding: 1rem 0;
 position:static;
 left:0;
 top:0;
 right:0;
}
 .header a{
   color: white;
   text-decoration: none;
 }

.logo-nav-container{
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.logo img{
  width: 70px;
  height: 50px;
}
.menu-icon{
    display: none;
  }
 
.navigation ul{
  margin:0;
  padding: 0;
  list-style: none;
}
 .navigation ul li{
   display: inline-block; 
  }
   .navigation ul li a{
     display: block;
     padding:0.2rem 1.1rem ;
     transition: all 0.4s linear;
     font-size: 16px;
     font-family: 'Roboto', sans-serif;
   }
    .navigation ul li a:hover{
      background: rgba(98, 89, 89, 0.384);
      border: white 1px solid;
      border-radius:7px;
    }
 /*--------------------------------------------------css-del-main-------------------------------------*/
 .figure-image{
  background-image: url(../assets/images/hero.gif);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-attachment: fixed;
  overflow:hidden;
  padding-bottom: 2rem;
}
 form{
    background-color: hsl(0, 0%, 100%);
    /* text-align:left; */
    padding:2.7rem 3.7rem;
    color: #352384;
    /* position: absolute;
    right: 0;  */
    margin: auto; 
    margin-top: 1rem;
    text-align: center;
    align-items:center;
}
.color section h1{
  font-size: 28px;
  font-weight: bold;
  line-height: 0.2em;
  text-indent: 0%;
}

  form button{
    background-color: #FF00BF;
    font-size: 12px;
    padding: 10px 18px;
    color: white;
    border-radius: 12px;
    border-bottom: none;
    text-align: center;
    letter-spacing: 1px;
    /* margin: 0rem 2rem; */

   }
  .buttonAndPar{
    /* display:flex;
    flex-wrap: wrap; */
    /* padding:2rem; */
    padding: 1rem 0;;
    
    
  }
  .buttonAndPar p {
    color: #aaa;
    text-decoration:underline;
    font-size: 0.7rem;
  }
input{
  border: none;
  border-bottom: 2px solid #8c80c7;
  width: 100%;
}
.underPha {
  color:  #aaa;
  padding:0rem;
  font-size: 0.5rem;

}
  
  /*css del second-part*/
  #container-second{
    background-image: linear-gradient(#76278F, #2B1E66);
    width: 100%;
    margin: 0 auto;
    color:white;
  }
  #container-second h2{
    padding-top: 2.4em;
    
  }
  .h2-let{
    margin-bottom: 0.5rem;
  }
  .h3-letters{
    padding-top: none;
    font-size: 1.5rem;
    margin-top: 9px;
  }
  .second-cont-letters{
    padding-left: 7rem;
    padding-top: 2rem;
    padding-bottom: 4rem;
  }
  .second-cont-letters p{
    margin-bottom: 0.2rem;
    margin-top: 0rem;
  }
  .derecha{
    float: right;
    margin-left: 15px;
    width:29rem;
    height:29rem;
    padding-top: 6rem;
    padding-bottom: 2rem;
  }
  /*css third-part*/
  #container-third{
    background-color: white;
    height: 50%;
    text-align:left;
    padding-left: 6rem;
  }
  .video-right{
    position: absolute;
    right: 0;
  }
  .video-left{
    position: absolute;
    left: 0;
  }
 
  #container-third h4{
   margin-top: 0;
   padding-top: 2rem;
  }
  .text-video{
   width: 30%;
  }
  .video-two{
    padding-top: 0.5rem;
  }
  .text-video-two{
    width: 30%;
    position: sticky;  
    margin-right: auto;
    margin-left: 54rem;
  }
  .container-video-one{
    width: 90%;
    
  }

/*css del footer*/
.footer{
 background:#333447;
 padding: 2rem 0;
 margin-top: 0.5rem;
 color: white;
 text-align: left;
}
#footer-container {
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
 #footer-container h1:hover{
  text-decoration-line: underline;
 }
 #footer-container h1{
   font-size: 21px;
 }
   #footer-container p:hover{
  color: #FF00BF;
  }
.img1 {
  width: 100px;
  height: 70px;
  
}
.column4 img{
  width: 100px;
  height: 40px;
  padding: 1rem;
}
.logos{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
 .logos h1 {
   font-size: 15px;
   border: 2px solid white;
   border-radius: 100%;
   padding: 0.3rem;
   padding-top: 0.4rem;
   margin: 3rem;
   margin-bottom: 1.2rem;
   color: white;
 }
 hr {
  border: 0;
  border-top: 1px solid; 
  border-bottom: 1px solid ;
  height:0;
  width: 80%;
  }
  .lyft-priv{
    text-align: center;
    margin-top: 3rem;
  }
/*css del header responsive*/
@media only screen and (max-width: 600px){
    .menu-icon{
      display: block;
      cursor: pointer;
      padding:0.5rem 1rem;

    }
    .navigation {
        width: 100%;
        margin-top: 1rem;
      }
      .navigation ul{
        display: none;
      }
      .navigation ul.show{
        display: block;
      }
       .navigation ul li{
         display:block; 
        }
         .navigation ul li a{
           display: block;
           padding: 0.5rem 0;
           transition: all 0.4s linear;
         }
          .navigation ul li a:hover{
            background: rgba(98, 89, 89, 0.384);
            border: white 1px solid;
            border-radius:7px;
          }
  /* form{
     width: 50%;  
     height: 85%;
     position: relative;
        }    */
 .color section h1{
   line-height: 0.8em;
 }
 /* form button{
   margin: auto;
 } */
 .buttonAndPar p{
  margin: auto;
  padding: 1em;
 }
 /*css terccera parte*/
 .video-right{
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

 .container-video-one {
  display: block;
  width: 100%;
 }
 #container-third{
  padding:0;
}

#container-third iframe{
width: 100vw;
}

}
@media only screen and (min-width: 650px){
  form{
    text-align:left;
    padding-bottom: 1rem;
    color: #352384;
    position: absolute;
    right: 0; 
  }
  form button{
    margin: 0rem 2rem;
    margin-left: 0;
    font-size: 0.7rem;
    padding: 0.9rem;
   }
  .buttonAndPar{
    display: flex;
    /* flex-wrap: wrap; */
    padding-top:1rem;
    padding-bottom: 1rem;
    width: auto;
    align-items: center;
    margin:0;
   
  }
  .buttonAndPar p {
    width: 150px;
    margin: 0;
  }
  .empty{
    height:324px;
  }
   
}