/* CLASES REUTILIZABLES */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  font-family: 'Montserrat', sans-serif;

}

img {
  vertical-align: middle;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container:after {
  clear: both;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.m-0 {
  margin: 0px;
}

a, span{
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #E95853;
}

.text-uppercase {
  text-transform: uppercase;
}
.containerBody{
  width: 85%;
  margin: 0 auto;
}
/* -------------------------------------------UUUUUUUUU---------------------------------------- */

/*css del header*/
.header{
 background:rgba(80, 5, 88);
 color: white;
 padding: 1rem 0;
 position: absolute;
 left:0;
 top:0;
 right:0;
}
 .header a{
   color: white;
   text-decoration: none;
 }

.logo-nav-container{
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.logo img{
  width: 70px;
  height: 50px;
}
.menu-icon{
    display: none;
  }
 
.navigation ul{
  margin:0;
  padding: 0;
  list-style: none;
}
 .navigation ul li{
   display: inline-block; 
  }
   .navigation ul li a{
     display: block;
     padding:0.2rem 1.1rem ;
     transition: all 0.4s linear;
     font-size: 16px;
     font-family: 'Roboto', sans-serif;
   }
    .navigation ul li a:hover{
      background: rgba(98, 89, 89, 0.384);
      border: white 1px solid;
      border-radius:7px;
    }
 /*--------------------------------------------------css-del-main-------------------------------------*/
 .figure-image{
  background-image: url(../assets/images/hero.gif);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-attachment: fixed;
  overflow:hidden;
  padding-bottom: 2rem;
}
 form{
    background-color: hsl(0, 0%, 100%);
    padding:2.7rem 3.7rem;
    color: #352384;
    margin: auto; 
    margin-top: 5rem;
    text-align: center;
    align-items:center;
}
.color section h1{
  font-size: 28px;
  font-weight: bold;
  line-height: 0.2em;
  text-indent: 0%;
}

  form button{
    background-color: #FF00BF;
    font-size: 12px;
    padding: 10px 18px;
    color: white;
    border-radius: 12px;
    border-bottom: none;
    text-align: center;
    letter-spacing: 1px;
   }
  .buttonAndPar{
    padding: 1rem 0;
  }
  .buttonAndPar p {
    color: #aaa;
    text-decoration:underline;
    font-size: 0.7rem;
  }
input{
  border: none;
  border-bottom: 2px solid #8c80c7;
  width: 100%;
}
.containerBody .underPha p{
  color:  #aaa;
  padding:0rem;
  font-size: 0.5rem;

}
  
  /*-----------------------------------css-del-second-part--------------------------------------*/
  .container-second{
    background-image: linear-gradient(#76278F, #2B1E66);
    width: 100%;
    margin: 0 auto;
    color:white;
    text-align: center;
  }
  .container-second h2{
    padding-top: 1.7em;
    font-size: 23px;
    
  }
  .h2-let{
    margin-bottom: 0.5rem;
    
  }
  .h3-letters{
    padding-top: none;
    font-size: 1.5rem;
    margin-top: 9px;
    font-size: 23px;
  }
  .second-cont-letters{
    padding-bottom: 4rem;
  }
  .second-cont-letters p{
    margin-bottom: 0.2rem;
    margin-top: 0rem;
    font-size: 15px;
  }
  .derecha img{
    width:100%;
    height:100%;
    margin: 2rem 0;
  }
  /*-----------------------------------css third-part--------------------------------------------*/
  .container-third{
    background-color: white;
    text-align:center;
  }
  .video-yout, .video-left{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
  }
  .video-yout iframe, .video-left iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
 .container-third h4{
    padding-top: 2rem;
  }
  .container-video-one{
    padding-bottom: 2rem; 
  }
  .container-video-three p{
    padding-bottom: 2rem;
  } 
  
/*--------------------------------css-del-footer---------------------------------------------------*/
.footer{
 background:#333447;
 /* padding: 2rem 0; */
 color: white;
 text-align: left;
}
#footer-container {
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
 #footer-container h1:hover{
  text-decoration-line: underline;
 }
 #footer-container h1{
   font-size: 19px;
   font-weight: 500;
 }
   #footer-container p:hover{
  color: #FF00BF;
  }
.containerBody p{
  font-size: 15px;
}
.img1 {
  width: 100px;
  height: 60px;
}
.column4 img{
  width: 100px;
  height: 70px;
  padding: 1rem;
}

.logos{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  padding-top: 3rem;
}
 .logos a span{
   font-size: 15px;
   border: 2px solid white;
   border-radius: 50%;
   padding: 0.3rem;
   padding-top: 0.4rem;
   margin: 3rem;
   margin-bottom: 1.2rem;
   color: white;
 }
 hr {
  border: 0;
  border-top: 1px solid; 
  border-bottom: 1px solid ;
  height:0;
  width: 80%;
  }
  .lyft-priv{
    text-align: center;
    margin-top: 3rem;
    font-size: 15px;
    padding-bottom:1rem; 
  }
  /* --------------------------------------PARTE-RESPONSIVE------------------------------------ */
/*css del header responsive*/
@media only screen and (max-width: 600px){
    .menu-icon{
      display: block;
      cursor: pointer;
      padding:0.5rem 1rem;

    }
    .navigation {
        width: 100%;
        margin-top: 1rem;
      }
      .navigation ul{
        display: none;
      }
      .navigation ul.show{
        display: block;
      }
       .navigation ul li{
         display:block; 
        }
         .navigation ul li a{
           display: block;
           padding: 0.5rem 0;
           transition: all 0.4s linear;
         }
          .navigation ul li a:hover{
            background: rgba(98, 89, 89, 0.384);
            border: white 1px solid;
            border-radius:7px;
          }
 .color section h1{
   line-height: 0.8em;
 }
 .buttonAndPar p{
  margin: auto;
  padding: 1em;
 }
}
@media only screen and (min-width: 650px){
  .header{
    background:rgba(80, 5, 88, 0.055);
   }
  form{
    text-align:left;
    padding-bottom: 1rem;
    color: #352384;
    position: absolute;
    right: 0; 
    margin-top: 5rem;
  }
  form button{
    margin: 0rem 2rem;
    margin-left: 0;
    font-size: 0.7rem;
    padding: 0.9rem;
   }
  .buttonAndPar{
    display: flex;
    padding-top:1rem;
    padding-bottom: 1rem;
    width: auto;
    align-items: center;
    margin:0;
  }
  .buttonAndPar p {
    width: 150px;
    margin: 0;
  }
  .empty{
    height:399px;
  }
   /* -------------------RESPONSIVE-SEGUNDA-SECCIÓN-------------------------------------------- */
 .container-second{
    text-align: left;
   }
.container-second h2{
  padding-top: 1.3em;
  font-size: 20px;
  
}
.h3-letters{
  font-size: 20px;
}
.second-cont-letters{
  padding-left: 0;
  padding-top: 2rem;
  text-align: left;
}
.second-cont-letters p{
  font-size: 13px;
}
.derecha img{
  float: right;
  margin-left: 15px;
  width:19rem;
  height:29rem;
  padding-top: 6rem;
  padding-bottom: 2rem;
}
/* --------------------------------RESPONSIVE-TERCERA-SECCIÓN----------------------------------- */
.video-yout{
  position: absolute;
  right: 0;
  padding: 10rem 10rem;
  overflow: initial;
}
.container-video-one, .container-video-two, .container-video-three{
  height: 320.5px;
  text-align: left;
  padding-bottom: 0;
}
.container-third h4{
  font-size: 10px;
}
.container-third h2{
  font-size: 20px;
}
.container-third p{
  font-size: 12px;
  font-weight: 600;
}
/*-------------------------- ----------------responsive-segundo-video--------------------------------------------- */
.video-left{
  position: absolute;
  left: 0;
  padding: 10rem 10rem;
  overflow: initial;
}
.container-video-two{
  margin-left: 55%;
  height: 306px;
 
}
.container-video-three{
  height: 307.4px;
}
}
@media only screen and (min-width: 790px){
  .video-yout, .video-left {
    padding: 10rem 14rem;
    overflow: initial;
  }
  /* ------css-segundo-video------ */
  .container-video-two{
    margin-left: 63%
  }
}
@media only screen and (min-width: 920px){
  .video-yout,.video-left {
    padding: 10rem 19rem;
    overflow: initial;
  }
  /* ------css-segundo-video------ */
  .container-video-two{
    margin-left: 67%
  }
}
/* .footer{
  background:#333447;
  padding: 2rem 0;
  color: white;
  text-align: left;
 }
 #footer-container {
   display:flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
 }
  #footer-container h1:hover{
   text-decoration-line: underline;
  }
  #footer-container h1{
    font-size: 19px;
    font-weight: 500;
  }
    #footer-container p:hover{
   color: #FF00BF;
   }
 .containerBody p{
   font-size: 15px;
 }
 .img1 {
   width: 100px;
   height: 70px;
   
 }
 .column4 img{
   width: 100px;
   height: 40px;
   padding: 1rem;
 }
 .logos{
   display:flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
 }
  .logos h1 {
    font-size: 15px;
    border: 2px solid white;
    border-radius: 100%;
    padding: 0.3rem;
    padding-top: 0.4rem;
    margin: 3rem;
    margin-bottom: 1.2rem;
    color: white;
  }
  hr {
   border: 0;
   border-top: 1px solid; 
   border-bottom: 1px solid ;
   height:0;
   width: 80%;
   }
   .lyft-priv{
     text-align: center;
     margin-top: 3rem;
   }  */